<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora Clarin</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=320"/>
  </head>
  <body>

      <details class="calc-cpm">
        <summary>CÁLCULO POR CPM</summary>

        <input type="number" placeholder="Ingresar cantidad de impresiones" required>

        <form>
        <div class="item">CM TARIFARIO</div>
        <div class="item">CPM PISO</div>
        <div class="item">CPM LIBRE</div>
        <div class="item">PORCENTAJE (diferencia CPM Tarifario)</div>
       

        <div class="reset-calc">
          <button type="reset" class="reset">RESET</button>
          <button class="calculo"  type="button" onclick="calcular()">CALCULAR</button>
        </div>
        
        </form>
        

      </details>

      <details class="calc-porcentaje">
        <summary>CÁLCULO POR PORCENTAJE</summary>
      </details>

      <details class="calc-inversion">
        <summary>CÁLCULO POR INVERSIÓN</summary>
      </details>

  </body>
</html>
