<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora Clarin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=320"/>
  </head>
  <body>

    <div class="bloque">

      <details>
        <summary>CALCULO POR CPM</summary>
        
        <input type="number" placeholder="Ingresa cantidad de impresiones" required>
        <div>
          
        </div>
        <button class="calculo"  type="button" onclick="calcular()">CALCULAR</button>

      </details>

      <details>
        <summary>CALCULO POR PORCENTAJE</summary>
      </details>

      <details>
        <summary>CALCULO POR INVERSION</summary>
      </details>

    </div>

  </body>
</html>
