/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #314149;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 10px;
}

details {
  border-radius: 8px;
  padding: 8px;
  width: 300px;
  margin: 7px;
  background-color: #202b30;
}

summary {
  font-weight: bold;
  color: #a5aaac;
  opacity: 0.8;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 35px;
  font-size: 12px;
}

/* Clases */
.bloque-calculos {
  font-size: 12px;
  font-weight:500;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 5px;
  border-bottom: 1px solid #314149;
}

.cpm-libre {
  width: 50%;
}

.resultados {
  color: #a5aaac;
}

.botones-calc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7px;
  align-items: center;
}

div .calcular {
  color: #fff;
  width: 40%;
  background: #26cdc3;
  border: none;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  color: #a5aaac;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

/* IDs */
#icono {
  padding-right: 8px;
  color: #26cdc3;
}

#valor {
  color: #26cdc3; 
}

#valor-input {
  color: #26cdc3;
  background-color: transparent;
  border: 0;
  width: 10%;
  font-weight:500;
}

#icono-reset {
  padding: 5px;
  margin: 2px;
  color: #a5aaac;
  transition: transform 0.3s ease, color 0.3s ease;
}

#icono-reset:hover {
  transform: scale(1.2);
  color: #26cdc3;
}